<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-diversity-mph_chl</symbolicName>
    <version>1.3.1</version>
    <name>Diversity Mph-CHl Processor</name>

    <description>
        <![CDATA[
            <p>Software: Tom Block of Brockmann Consult</p>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in version 1.3<br/>
        - added ndvi calculation to detect floating vegetation<br/>
        - adapted thresholds<br/>
        - renamed flags<br/>
        - copy flags of input product to output<br/>
        </p>
        <p>Changes in version 1.0<br/>
        - Initial version
        </p>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
   
    <categories>Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>Diversity.MPH.CHL</id>
            <helpId>diversityMphChlOp</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>Diversity.MPH.CHL</operatorName>
            <text>Diversity.MPH.CHL ...</text>
            <shortDescr>Computes maximum peak height of chlorophyll</shortDescr>
            <longDescr>Computes maximum peak height of chlorophyll</longDescr>
            <mnemonic/>
            <parent>processing.thematicWater</parent>
            <targetProductNameSuffix>_MPH</targetProductNameSuffix>
        </action>
    </extension>
    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/mph_chl.hs</path>
        </helpSet>
    </extension>

</module>
