<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-diversity-processing</symbolicName>
    <version>1.2-SNAPSHOT</version>
    <name>Diversity Processing</name>

    <description>
        <![CDATA[
            <p>Software: O.Danne of Brockmann Consult</p>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in version 1.2-SNAPSHOT<br/>
        - Introduced this new module 'Diversity Processing' for a more reasonable project structure (has version of current parent module)
        </p>
        ]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-modis-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
   
    <categories>Processor</categories>

    <!--<extension point="beam-ui:helpSets">-->
        <!--<helpSet>-->
            <!--<parent>beam-help</parent>-->
            <!--<path>doc/help/diversity-auxdata.hs</path>-->
        <!--</helpSet>-->
    <!--</extension>-->

</module>
